body {
  box-sizing: border-box;
}
.sections {
  display: flex;
  flex-direction: row;
  column-count: 3;
  justify-content: space-around;
}

.icon,
img {
  width: 50px;
}
.head {
  color: #6a50ff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  padding-left: 100px;
  padding-right: 70px;
}
.banner {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.ban-icons, .select {
  display: flex;
  flex-direction: row;
  column-count: 6;
  column-gap: 2px;
  padding: 7px;
}
.star {
  width: 40px;
}
.female,
.heart,
.male,
.a-z {
  width: 35px;
}
.ban-para {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  color: #6a50ff;
  cursor: pointer;
}
.select:hover{
    background-color: #6a50ff;
    border-radius: 9999px;
}
.arrow{
    width: 70px;
} 
.select:hover{
    background-color: #6a50ff;
    border-radius: 9999px;
}
.arrow{
    width: 70px;
}
.container{
    display: flex;
    justify-content: center;
}
.top-buttons{
    display: inline-flex;
    flex-direction: row;
    padding: 20px;
}
button{
    background-color: #8a77fa;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 400px;
    height: 60px;
    border-radius: 9999px;
    border: white solid 5px;
    cursor: pointer;
}
button:hover{
    background-color: #6a50ff;
}
.down-buttons{
    display: flex;
    justify-content: center;
}
.derm-endo{
    background-color:#6a50ff;
    padding: 20px;
    border-radius: 9999px;
    width: 1000px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
}
.derm-endo::after{
    content: url(images/9427053\ \(1\).png);
    display: inline-block;
    width: 50px;
    transition: all 1s ease;
    margin-left: 540px;
    background-color: #FFFFFF;
    border-radius: 9999px;

}
.derm-endo:hover::before{
      transform:rotate(90deg)
}
.derm-endo:hover::after{
    transform:rotate(90deg)
}
.about-endo{
  display: block;
  justify-content: center;
  background-color: #bfb4ff;
  position: relative;
  margin-left: 500px;
  margin-right: 500px;
  padding: 20px;
  border-radius: 70px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border:white solid 5px;
}
.about-endo h1{
  color: #4426f1;
}
.cosm-bio {
  position: relative;
  background-color: #6a5eff;
  border-radius: 50px;
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  text-align: left;
  display: flex;
  align-items: center;
}

.cosm-bio:after{
    content: url(images/9427053\ \(1\).png);
    display: inline-block;
    transition: all 1s ease;
    margin-left: 525px;
    background-color: #FFFFFF;
    border-radius: 9999px;

}
.cosm-bio:hover::before{
      transform:rotate(90deg)
}
.cosm-bio:hover::after{
    transform:rotate(90deg)
}
